doctype html
html(lang='en')
  head    
    meta(charset='utf-8')
    title Lyrics things :)
    meta(name='description', content='')
    meta(name='author', content='Rowan')    
    meta(name='viewport', content='width=device-width, initial-scale=1')   
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/skeleton.css')    
    link(rel='stylesheet', href='css/style.css')  
    link(rel='icon', type='image/png', href='images/favicon.png')
  body    
     .container
       .row
         .twelve.column(style='margin-top: 5%')
           h1
             | Here are some lyrics for: 
             b #{artistName}
          p
            | Data and things will go here. The above should be editable and dynamic                      
          p  
            | Number of albums we used: #{albumCount} 
            br
            | Number of songs we used: #{songCount}
            br
            | Total number of words: #{totalWords}
          
          each song in songsForArtist
            h3 Song: #{song.id}. #{song.title}
            b Lyrics:
            br
            | #{song.lyrics}
            br
            br
            b Word usage map:
            br
            //- each word in song.lyricsWordMap                          
            //-   | [#{word.name}: #{word.total}]   
            //- br
            //- hr

